/* VideoViewer.css */
.video-viewer {
    margin-top: 20px;
    padding: 10px;
    background-color: #f2f2f2;
  }
  
  .video-slider-container {
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative; /* Add position property to make arrows appear above the video slider */
  }
  
  .video-slider {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.3s ease-in-out;
  }
  
  .video {
    width: 33.33%;
    margin: 10px;
  }
  
  /* Media query for mobile view */
  @media (max-width: 768px) {
    .video-slider-container {
      padding: 0;
    }
  
    .video {
      width: 100%;
      height: auto;
      max-width: 300px; /* Limit the maximum width of videos on mobile */
      margin: 10px 5px; /* Add smaller margin between videos */
    }
  
    /* Show arrows on mobile */
    .arrow {
      visibility: visible;
    }
  }
  
  /* Navigation arrow styles */
  .arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    position: absolute; /* Position the arrows within the video slider container */
    top: 50%; /* Move the arrows to the middle vertically */
    transform: translateY(-50%);
  }
  
  .arrow {
    cursor: pointer;
    font-size: 24px;
    margin: 0 10px;
    user-select: none;
    visibility: hidden; /* Hide arrows by default */
  }
  
  /* Hide left arrow on the leftmost position */
  .left {
    left: 10px;
  }
  
  /* Hide right arrow on the rightmost position */
  .right {
    right: 10px;
  }
  
  /* Show both arrows when there is more to scroll */
  .video-slider-container.scrollable .arrow {
    visibility: visible;
  }
  